


.App {
  background-color: #450795;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: start;
  font-size: calc(9px + 2vmin);
  
}

.divCotiDolar {
  width: 280px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: 1px solid #bcbcbc;
  margin-top: 0.4rem;
}

.divFeriados {
  width: 320px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcbcbc;
  background-color: plum;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}
span{
  font-weight: bolder;
  color: darkblue;
}
