


.App-header {
  background-color: #450795;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  
}

.divCotiDolar {
  width: 320px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: 1px solid #bcbcbc;
  margin-top: 0.4rem;
}

